In [1]:
#Imports
import pandas as pd
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [46]:
#Read in the csv file
df = pd.read_csv('/Volumes/5Tb/Test/Project_2/Resources/2019_file_master_en.csv', index_col = "date", infer_datetime_format=True, parse_dates=True)

#df = df.drop(columns = ["Column 1", "id", "language"])

#Renaming the dataframe to identify it as a pandas dataframe (when using with Optimus)
df_pd = df
df_pd

,Day of Year,id,tweet,language,hashtags,username,nlikes,nretweets
date,,,,,,,,
2019-01-01,1,1079980539443118080,"Current #ethereum price is $134.37, an increas...",en,['ethereum'],eth_hourly,0,0
2019-01-01,1,1079980542135799808,"@ #3, Ethereum with unit price of $134.3, mark...",en,[],CryptoHourly,0,0
2019-01-01,1,1079980547244462082,【TKO token #1】 TKO token can be used for sett...,en,"['crypto', 'blockchain', 'ether', 'ethereum', ...",takeoff_tech,0,0
2019-01-01,1,1079980548959977472,"Bitcoin @ £3,152.66 | Ethereum @ £115.87 | Lit...",en,[],CryptoShopUK,0,0
2019-01-01,1,1079980556589371394,#BTC #bitcoin $3703.41 #ETH #ethereum $132.62 ...,en,"['btc', 'bitcoin', 'eth', 'ethereum', 'bch', '...",azionistar,0,0
...,...,...,...,...,...,...,...,...
2019-12-30,364,1211527340347592709,【TKO token #1】 TKO token can be used for sett...,en,"['crypto', 'blockchain', 'ether', 'ethereum', ...",takeoff_tech,0,0
2019-12-30,364,1211527336082001920,"@ #2, Ethereum with unit price of $135.97, mar...",en,[],CryptoHourly,0,0
2019-12-30,364,1211527334408310784,The BITPROLE Team hope all your dreams come tr...,en,"['newyear', 'bitcoin', 'ethereum', 'ripple', '...",bitprole,0,0
2019-12-30,364,1211527334320377857,"Current #ethereum price is $135.98, a decrease...",en,['ethereum'],eth_hourly,0,0
2019-12-30,364,1211527333321924609,$ETH | #ETH - ethereum's Current Price: ▼ $135...,en,['eth'],CryptoPressNews,0,0

In [47]:
df_pd.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1262491 entries, 2019-01-01 to 2019-12-30
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Day of Year  1262491 non-null  int64
 1   id           1262491 non-null  int64
 2   tweet        1262491 non-null  object
 3   language     1262491 non-null  object
 4   hashtags     1262491 non-null  object
 5   username     1262491 non-null  object
 6   nlikes       1262491 non-null  int64
 7   nretweets    1262491 non-null  int64
dtypes: int64(4), object(4)
memory usage: 86.7+ MB

In [48]:
# Download/Update the VADER Lexicon
nltk.download('vader_lexicon')

# Initialize the VADER sentiment analyzer
analyzer = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/richardmelvin/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [49]:
#List comprehension to create the table.
df_pd['compound'] = [analyzer.polarity_scores(x)['compound'] for x in df_pd['tweet']]
df_pd['neg'] = [analyzer.polarity_scores(x)['neg'] for x in df_pd['tweet']]
df_pd['neu'] = [analyzer.polarity_scores(x)['neu'] for x in df_pd['tweet']]
df_pd['pos'] = [analyzer.polarity_scores(x)['pos'] for x in df_pd['tweet']]

#Look at the dataframe
df_pd

,Day of Year,id,tweet,language,hashtags,username,nlikes,nretweets,compound,neg,neu,pos
date,,,,,,,,,,,,
2019-01-01,1,1079980539443118080,"Current #ethereum price is $134.37, an increas...",en,['ethereum'],eth_hourly,0,0,0.3182,0.0,0.887,0.113
2019-01-01,1,1079980542135799808,"@ #3, Ethereum with unit price of $134.3, mark...",en,[],CryptoHourly,0,0,0.0000,0.0,1.000,0.000
2019-01-01,1,1079980547244462082,【TKO token #1】 TKO token can be used for sett...,en,"['crypto', 'blockchain', 'ether', 'ethereum', ...",takeoff_tech,0,0,0.3182,0.0,0.933,0.067
2019-01-01,1,1079980548959977472,"Bitcoin @ £3,152.66 | Ethereum @ £115.87 | Lit...",en,[],CryptoShopUK,0,0,0.0000,0.0,1.000,0.000
2019-01-01,1,1079980556589371394,#BTC #bitcoin $3703.41 #ETH #ethereum $132.62 ...,en,"['btc', 'bitcoin', 'eth', 'ethereum', 'bch', '...",azionistar,0,0,0.0000,0.0,1.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-30,364,1211527340347592709,【TKO token #1】 TKO token can be used for sett...,en,"['crypto', 'blockchain', 'ether', 'ethereum', ...",takeoff_tech,0,0,0.3182,0.0,0.933,0.067
2019-12-30,364,1211527336082001920,"@ #2, Ethereum with unit price of $135.97, mar...",en,[],CryptoHourly,0,0,0.0000,0.0,1.000,0.000
2019-12-30,364,1211527334408310784,The BITPROLE Team hope all your dreams come tr...,en,"['newyear', 'bitcoin', 'ethereum', 'ripple', '...",bitprole,0,0,0.9618,0.0,0.492,0.508
2019-12-30,364,1211527334320377857,"Current #ethereum price is $135.98, a decrease...",en,['ethereum'],eth_hourly,0,0,0.0000,0.0,1.000,0.000
2019-12-30,364,1211527333321924609,$ETH | #ETH - ethereum's Current Price: ▼ $135...,en,['eth'],CryptoPressNews,0,0,0.0000,0.0,1.000,0.000

In [28]:
#Save the dataframe
eighteen_df = df_pd

In [29]:
eighteen_df

,Day of Year,id,tweet,language,hashtags,username,nlikes,nretweets,compound,neg,neu,pos
date,,,,,,,,,,,,
2018-01-01,1,948071197056450560,"If You Had 10,000 USD Which Would You Invest I...",en,"['cryptocurrency', 'bitcoin', 'litecoin', 'rip...",strategyto100k,3.0,1.0,0.0000,0.000,1.000,0.000
2018-01-01,1,948071181726384128,Ethereum price: What the Casper update means f...,en,[],coinspipe,0.0,0.0,0.0000,0.000,1.000,0.000
2018-01-01,1,948071122796507141,Checkout India's favorite Ethereum wallet and ...,en,[],khadak_mehra,0.0,0.0,0.4588,0.000,0.727,0.273
2018-01-01,1,948070920190603264,Crypto Today: Bitcoin – a weaker start to 2018...,en,[],Mathello_,0.0,0.0,-0.4404,0.225,0.775,0.000
2018-01-01,1,948070900191997953,#Daneel #TokenSale #AI #ICO #Bitcoin #investor...,en,"['daneel', 'tokensale', 'ai', 'ico', 'bitcoin'...",bitkolpher,0.0,0.0,0.2960,0.000,0.820,0.180
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31,365,1079618168606343168,Choose our #investment plans and earn the larg...,en,"['investment', 'profit']",roiforex12,1.0,0.0,0.4404,0.000,0.906,0.094
2018-12-31,365,1079618163057311744,#BTC #bitcoin $3746.41 #ETH #ethereum $133.71 ...,en,"['btc', 'bitcoin', 'eth', 'ethereum', 'bch', '...",azionistar,0.0,0.0,0.0000,0.000,1.000,0.000
2018-12-31,365,1079618159093649408,【TakeOff #Exchange UI #1】 TradeManager (AI) a...,en,"['exchange', 'crypto', 'bitcoin', 'blockchain'...",takeoff_tech,0.0,0.0,0.0000,0.000,1.000,0.000
2018-12-31,365,1079618154182131715,"Current #ethereum price is $136.41, a decrease...",en,['ethereum'],eth_hourly,0.0,0.0,0.0000,0.000,1.000,0.000
2018-12-31,365,1079618153313980416,"@ #3, Ethereum with unit price of $136.41, mar...",en,[],CryptoHourly,0.0,0.0,0.0000,0.000,1.000,0.000

In [30]:
eighteen_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1738098 entries, 2018-01-01 to 2018-12-31
Data columns (total 12 columns):
 #   Column       Dtype
---  ------       -----
 0   Day of Year  int64
 1   id           int64
 2   tweet        object
 3   language     object
 4   hashtags     object
 5   username     object
 6   nlikes       float64
 7   nretweets    float64
 8   compound     float64
 9   neg          float64
 10  neu          float64
 11  pos          float64
dtypes: float64(6), int64(2), object(4)
memory usage: 172.4+ MB

In [31]:
eighteen_df.count()

Day of Year    1738098
id             1738098
tweet          1738098
language       1738092
hashtags       1738092
username       1738092
nlikes         1738092
nretweets      1738092
compound       1738098
neg            1738098
neu            1738098
pos            1738098
dtype: int64

In [54]:
eighteen_df.to_csv('/Volumes/5Tb/Test/Project_2/Resources/eighteen_df.csv')

In [42]:
#Save the dataframe
seventeen_df = df_pd

In [43]:
seventeen_df

,Day of Year,id,tweet,language,hashtags,username,nlikes,nretweets,compound,neg,neu,pos
date,,,,,,,,,,,,
2017-10-07,280,916890263766945792,'SmartNET' The Worlds Low Power Wide Area Netw...,en,"['platform', 'entrepreneurship', 'reuters', 'v...",theautomatski,0,0,-0.2732,0.130,0.870,0.000
2017-10-07,280,916890188575522816,Recent Ethereum Upgrade May Make Wall Street F...,en,[],Andy_Burton,0,1,0.6369,0.000,0.741,0.259
2017-10-07,280,916890185035481089,Recent Ethereum Upgrade May Make Wall Street F...,en,[],MobilitySpain,0,0,0.6369,0.000,0.741,0.259
2017-10-07,280,916889803416891393,Bitcoin Hard Fork Segwit2x Closing-In: Coinbas...,en,['crypto'],CNMonitor,0,0,0.2732,0.083,0.769,0.148
2017-10-07,280,916889723255250944,Do not forget to subscribe for the update.#Tok...,en,"['tokensale', 'crowdsale', 'blockchain', 'ico'...",LevelNetwork,47,55,0.1695,0.000,0.906,0.094
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-30,364,946984201554821120,"Bitcoin Price Flirts With $14,000 as Ripple Ni...",en,"['cryptocurrency', 'news']",frandimore,1,0,0.1779,0.000,0.904,0.096
2017-12-30,364,946984201378820096,Cotizaciones al 30/12/2017 03:00 AM Bitcoin (B...,en,[],crypto_paraguay,0,0,0.0000,0.000,1.000,0.000
2017-12-30,364,946984198979637248,30Dec2017 06:00 UTC #Ethereum live spots - #ET...,en,"['ethereum', 'ethusd', 'etheur']",o_chapiteau,0,0,0.0000,0.000,1.000,0.000
2017-12-30,364,946984196941271040,"Current #ethereum price is $708.42, an increas...",en,['ethereum'],eth_hourly,0,0,0.3182,0.000,0.887,0.113
2017-12-30,364,946984195628437506,"@ #3, Ethereum with unit price of $710.98, mar...",en,[],CryptoHourly,0,0,0.0000,0.000,1.000,0.000

In [44]:
seventeen_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 302101 entries, 2017-10-07 to 2017-12-30
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Day of Year  302101 non-null  int64
 1   id           302101 non-null  int64
 2   tweet        302101 non-null  object
 3   language     302101 non-null  object
 4   hashtags     302101 non-null  object
 5   username     302101 non-null  object
 6   nlikes       302101 non-null  int64
 7   nretweets    302101 non-null  int64
 8   compound     302101 non-null  float64
 9   neg          302101 non-null  float64
 10  neu          302101 non-null  float64
 11  pos          302101 non-null  float64
dtypes: float64(4), int64(4), object(4)
memory usage: 30.0+ MB

In [45]:
seventeen_df.count()

Day of Year    302101
id             302101
tweet          302101
language       302101
hashtags       302101
username       302101
nlikes         302101
nretweets      302101
compound       302101
neg            302101
neu            302101
pos            302101
dtype: int64

In [55]:
seventeen_df.to_csv('/Volumes/5Tb/Test/Project_2/Resources/seventeen.csv')

In [57]:
eighteen = eighteen_df.groupby('date').mean()

In [58]:
eighteen

,Day of Year,id,nlikes,nretweets,compound,neg,neu,pos
date,,,,,,,,
2018-01-01,1.0,9.480580e+17,2.301105,4.505525,0.169366,0.020691,0.902293,0.077014
2018-01-02,2.0,9.482184e+17,3.668230,2.602071,0.141499,0.025547,0.900448,0.074004
2018-01-04,4.0,9.491424e+17,0.820037,2.189239,0.143665,0.011774,0.915887,0.072345
2018-01-05,5.0,9.492885e+17,2.249867,1.588277,0.149442,0.025135,0.893755,0.081112
2018-01-07,7.0,9.502331e+17,4.511719,1.708984,0.167536,0.022285,0.894166,0.083549
...,...,...,...,...,...,...,...,...
2018-12-27,361.0,1.078338e+18,2.797257,2.516696,0.144919,0.028017,0.895880,0.076103
2018-12-28,362.0,1.078711e+18,5.206354,1.269309,0.156838,0.027672,0.896478,0.075853
2018-12-29,363.0,1.079062e+18,3.943403,0.889583,0.195421,0.026636,0.884552,0.088810
2018-12-30,364.0,1.079427e+18,1.808467,0.454080,0.180362,0.024341,0.894247,0.081405
2018-12-31,365.0,1.079754e+18,2.541616,1.064555,0.239490,0.021083,0.875190,0.103724